<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057963065055-h7d16hhe1o2b94boodbu7781kp14fu9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057963065055-h7d16hhe1o2b94boodbu7781kp14fu9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDt-O6d9uiH6uA6qtcV5wCDOHHgm1zowWo</string>
	<key>GCM_SENDER_ID</key>
	<string>1057963065055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.fuka.Safeye</string>
	<key>PROJECT_ID</key>
	<string>safeye-project</string>
	<key>STORAGE_BUCKET</key>
	<string>safeye-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057963065055:ios:b8318b7c3c9348fb22736a</string>
</dict>
</plist>